<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <span>COVID+</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Page wrapper -->
<div class="box-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <!-- Card centered -->
  <mat-card class="box">
    <!-- Card header -->
    <mat-card-header>
      <mat-card-title>COVID+ checker</mat-card-title>
      <mat-card-subtitle
        >Upload one or multiple image(s) ({{
          allowedFileTypes
        }})</mat-card-subtitle
      >
    </mat-card-header>
    <!-- Content -->
    <mat-card-content>
      <mat-vertical-stepper linear #stepper>
        <!-- Step 1: Upload -->
        <mat-step
          [stepControl]="imageFormGroup"
          fxLayout="column"
          fxLayoutAlign="center"
          #imageStep
        >
          <form [formGroup]="imageFormGroup">
            <ng-template matStepLabel>Upload an image</ng-template>
            <!-- Dropzone -->
            <ngx-dropzone
              (change)="onSelect($event)"
              [accept]="allowedFileTypes"
            >
              <ngx-dropzone-label
                >Click or drop your file(s) here</ngx-dropzone-label
              >
              <ng-container *ngFor="let f of files">
                <ng-container *ngIf="isFileImage(f.data); else notAnImage">
                  <ngx-dropzone-image-preview
                    [removable]="true"
                    [file]="f.data"
                    (removed)="onRemove(f)"
                  >
                    <ngx-dropzone-label>
                      {{ f.data.name }} ({{ f.data.type }})
                      <mat-progress-bar
                        mode="determinate"
                        [value]="f.progress"
                        *ngIf="f.inProgress"
                      ></mat-progress-bar>
                    </ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </ng-container>
                <ng-template #notAnImage>
                  <ngx-dropzone-preview
                    [removable]="true"
                    (removed)="onRemove(f)"
                  >
                    <ngx-dropzone-label>
                      {{ f.data.name }} ({{ f.data.type }})
                      <mat-progress-bar
                        mode="determinate"
                        [value]="f.progress"
                        *ngIf="f.inProgress"
                      ></mat-progress-bar>
                    </ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ng-template>
              </ng-container>
            </ngx-dropzone>
            <!-- Check choice -->
            <mat-label id="radio-group-label">Type of check</mat-label>
            <mat-radio-group
              aria-labelledby="radio-group-label"
              class="radio-group"
              formControlName="checkRadio"
            >
              <mat-radio-button
                color="primary"
                class="radio-button"
                *ngFor="let check of availableChecks"
                [value]="check.value"
              >
                {{ check.label }}
              </mat-radio-button>
            </mat-radio-group>
            <!-- Next -->
            <button
              color="primary"
              [disabled]="files.length === 0"
              mat-raised-button
              (click)="submit()"
            >
              Next
            </button>
          </form>
        </mat-step>
        <!-- Step 2: Results -->
        <mat-step #resultStep>
          <ng-template matStepLabel>Result</ng-template>
          <!-- Loder if nothing has been received yet -->
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="loading"
          ></mat-progress-bar>
          <!-- Results -->
          <mat-accordion class="headers-align" *ngIf="results.length > 0">
            <mat-expansion-panel
              [expanded]="step === i"
              (opened)="setStep(i)"
              *ngFor="let result of results; let i = index"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Case {{ i }} </mat-panel-title>
                <mat-panel-description>
                  {{ algoType(result.algotype) }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-container *ngFor="let image of result.results">
                <img [src]="image.source" alt="source image" />
                <img [src]="image.result" alt="result image" />
              </ng-container>
              <mat-action-row>
                <button
                  mat-button
                  color="warn"
                  (click)="prevStep()"
                  *ngIf="i > 0"
                >
                  Previous
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="nextStep()"
                  *ngIf="i < results.length"
                >
                  Next
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="nextStep()"
                  *ngIf="i === results.length"
                >
                  End
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
