@import '~@angular/material/theming';
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
ngx-dropzone-label {
  color: white;
  background-color: rgb(105, 105, 105);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
ngx-dropzone {
  background-color: #333;
  border: 5px dashed #c2185b;
  margin: 15px 0;
}
ngx-dropzone-preview {
  background-image: linear-gradient(
    to top,
    #424242,
    #434343,
    #444444,
    #454545,
    #464646
  );
  &:hover {
    background-image: linear-gradient(
      to top,
      #404040,
      #414141,
      #424242,
      #434343,
      #444444
    );
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

$scrollbarBG: #404040;
$thumbBG: rgb(105, 105, 105);
ngx-dropzone {
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbarBG;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumbBG;
    border-radius: 6px;
    border: 3px solid $scrollbarBG;
  }
}
